{% extends "base.html" %}

{% block header %}
<h1>YoRestrooms</h1>
{% endblock %}

{% block content %}
  <div id="info">
    <p>
      Yo to get a list of nearby restrooms on <a id=“link” href=“http://refugerestrooms.org”>Refuge Restrooms</a>.
    </p>
  </div>
  <div id="list">
    <p>
      It's Simple:
    </p>

    <ul>
      <li>Install <a href="http://justyo.co" target="_blank">YO</a></li>
      <li>Open the app and tap "+"</li>
      <li>Add YORESTROOMS as a contact </li>
    </ul>

    <p>
      Each time you want to find nearby bathrooms:
    </p>

    <ul>
      <li>Tap on YORESTROOMS</li>
      <li>Wait a few seconds</li>
      <li>Get a Yo back with a link to nearby Refuge Restrooms</li>
    </ul>
  </div>
{% endblock %}
