{% extends "base.html" %}

{% block header %}
<h1>YoRestrooms</h1>
{% endblock %}

{% block content %}
<div id="info">
<p>Yo to get a list of nearby restrooms on <a id=“link” href=“http://refugerestrooms.org”>Refuge Restrooms</a>.</p>
</div>
<div id="list">
<p>It's Simple:</p>
<ul>
	<li>Install the latest version of <a href="http://justyo.co">YO</a></li>
	<li>Add YORESTROOMS as a contact (click "+" in the YO app)</li>
</ul>
<p>Each time you want to find nearby bathrooms:</p>
<ul>
	<li>Double-tap on YORESTROOMS to send us your location</li>
	<li>We Yo you back with a list of nearby bathrooms</li>
</ul>
<p>Make sure you double tap as we use your location!</p>
</div>
{% endblock %}